.progressline-container {
  width: 100%;
  gap: 16px;
  display: flex;
}
.Active {
  width: 196px;
  height: 6px;
  background-color: #3c97af;
  border-radius: 100px;
}
.prog2 {
  width: 196px;
  height: 6px;
  background-color: #ebebeb;
  border-radius: 100px;
}
.prog3 {
  width: 196px;
  height: 6px;
  background-color: #ebebeb;
  border-radius: 100px;
}
